<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.adchain.adapters.flurry">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity tools:replace="android:theme"
            android:name="com.flurry.android.FlurryFullscreenTakeoverActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <!--API27 bug fix: special thanks to neman :)-->

    </application>

</manifest>
