<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adchain.adapters.unity">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

    </application>

</manifest>
